@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand/static/Quicksand-Regular.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans/OpenSans-Regular.ttf);
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
body {
  margin: 0;
  background-color: #0e0e10;
}

main h1 {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
main .container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .container:hover .carte {
  opacity: 0.3;
}
@media screen and (max-width: 480px) {
  main .container .carte {
    margin: auto;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  main .container .carte {
    margin: auto;
    width: 45%;
  }
}
@media screen and (min-width: 1048px) {
  main .container .carte {
    width: 18%;
    margin: auto;
  }
}
main .container .carte {
  height: 70vh;
  background-color: white;
  margin: 2vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5%;
  box-shadow: inset 0 0 10px;
  animation-name: opacity;
  animation-duration: 1s;
}
@media screen and (min-width: 480px) {
  main .container .carte .carte_image {
    height: 25%;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  main .container .carte .carte_image {
    margin: 0;
    padding: 0;
  }
}
main .container .carte_image {
  overflow: hidden;
}
main .container .carte_image img {
  width: 100%;
  height: fit-content;
  border-radius: 5% 5% 0 0;
}
main .container .carte:hover {
  opacity: 1;
}
main .container .carte:hover .carte__list_icon {
  display: flex;
}
main .container .carte:hover .carte__list {
  display: none;
}
main .container .carte:hover .carte__author {
  display: none;
}
main .container .carte:hover .carte__plot {
  display: block;
}
main .container .carte__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
main .container .carte__list--genre {
  width: fit-content;
  padding: 0.5vw;
  background-color: #F5AE1F;
  border-radius: 10%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
main .container .carte__list--date {
  width: fit-content;
  padding: 0.5vw;
  border-radius: 10%;
  background-color: #1F98F5;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
main .container .carte__titre {
  text-align: center;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}
main .container .carte__plot {
  width: 80%;
  font-style: italic;
  display: none;
  margin: auto;
  opacity: 0.8;
  text-align: center;
  animation-name: text;
  animation-duration: 1s;
  font-family: "OpenSans", sans-serif;
}
main .container .carte__author {
  text-align: center;
  font-weight: normal;
  font-size: 2.5vh;
  opacity: 0.5;
  font-family: "Quicksand", sans-serif;
}
main .container .carte__list_icon {
  display: none;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  animation-name: text;
  animation-duration: 1s;
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main .container .carte__list_icon img {
    width: 5vw;
    height: 5vw;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  main .container .carte__list_icon img {
    width: 8vw;
    height: 8vw;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1048px) {
  main .container .carte__list_icon img {
    width: 2vw;
    height: 2vw;
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */